.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  margin: 50px auto;
  padding: 32px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);

  // Form title styling
  .form-title {
    text-align: center;
    color: #1a73e8;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  // TextField styling
  .MuiTextField-root {
    .MuiOutlinedInput-root {
      border-radius: 8px;
      padding: 0 10px;

      &:hover .MuiOutlinedInput-notchedOutline {
        border-color: #1a73e8;
      }
    }

    .MuiInputLabel-root {
      color: #757575;
    }
  }

  // Image upload button styling
  .MuiButton-containedSecondary {
    margin-top: 20px;
    font-weight: bold;
    background-color: #c605e4;

    &:hover {
      background-color: #43085e;
    }
  }

  // Submit button styling
  .MuiButton-containedPrimary {
    margin-top: 20px;
    font-weight: bold;
    background-color: #1976d2;
    color: #ffffff;
    border-radius: 8px;

    &:hover {
      background-color: #1666c1;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  // Text alignment and spacing for additional text
  .login-promt {
    text-align: center;
    font-size: 0.875rem;
    color: #757575;
    margin-top: 20px;
  }

  .login-link {
    text-align: center;
    color: #1a73e8;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  // Responsive adjustments
  @media (max-width: 480px) {
    width: 90%;
    padding: 24px;

    .form-title {
      font-size: 1.25rem;
    }
    .login-promt{
      font-size: 0.85rem;
    }
  }
}
